/* Write your CSS code here */
.crypto-list-container {
  background-color: #000000;
  background-size: cover;
  padding: 10px;
}

.heading-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #00e7ff;
  font-family: 'Roboto';
  font-size: 25px;
}

.crypto-image {
  width: 70%;
}
.currency-list-container {
  border: 3px solid #00e7ff;
  margin: 20px;
}
.currency-type-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #092e33;
}

.usd-euro-container {
  display: flex;
}
.coin-type {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 23px;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .coin-type {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 23px;
    margin-left: 30px;
  }
}
.usd-name,
.euro-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  margin: 20px;
}
.loader {
  text-align: center;
}
